---
layout: default
title: 新闻
has_en: true
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 5
  sort_field: date
  sort_reverse: true
  trail:
    before: 1
    after: 3
---
<div class="post editorial-news-hub">
  <header class="editorial-news-hub__header"><h1>新闻</h1>{% if site.blog_description %}<p>{{ site.blog_description }}</p>{% endif %}</header>
  {% include news_filters.html context="all" %}
  <section class="editorial-news-list" aria-label="新闻列表">{% for post in paginator.posts %}{% include news_item.html post=post %}{% endfor %}</section>
  {% include pagination.html %}
</div>
